.primary-forground{
    color: #0078E7 !important;
}
.primary-background{
    background-color: #0078E7 !important;
}
.color-gray{
    color: #7B7B7B;
}

/* font */
.poppins-bold{
    font-family: PoppinsBold;
}
.poppins-boldItalic{
    font-family: PoppinsBoldItalic;
}
.poppins-medium{
    font-family: PoppinsMedium;
}
.poppins-regular{
    font-family: PoppinsRegular;
}
.poppins-semiBold{
    font-family: PoppinsSemiBold;
}