.review-section{
    padding: 2em 0;
    margin-top: 4em;
    color: white;
}
.review-container h2{
    text-decoration: underline;
}
.review-container p{
   font-size: 24px;
   margin-bottom: 4em;
}

/* main slide card style start */

.slide-container{
    text-align: center;
    background-color: #125ecf;
    padding: 2em;
    border-radius: 5px;
    margin: 0 2em;
}
.slide-person-name{
    font-size: 20px;
}
.slide-container blockquote{
    margin: 2em 1em;
    line-height: 1.7em;
}
.slide-image{
    width: 130px;
    margin: 0 auto;
}
.slide-image img{
    max-width: 100%;
    border-radius: 50%;
    overflow: hidden;
}
.slide-star-ratting{
    display: flex;
    justify-content: center;
    list-style: none;
}

/* responsive */
@media only screen and (max-width: 425px) {
    .slide-container{
        padding: 0em;
        margin: 0 1em;
    }
    /* direct change the slick slider class */
    .slick-arrow{
        display: none !important;
    }
}